{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    We Have Variety Of Products
{% endblock %}
{% block title %}
    Search
{% endblock %}
{% block content %}
<div>
    <p class="text_center my_search_text"> You have searched for:<b>"{{query}}"</b></p>
    <div class="container">
        <div class="row mx-auto">
            {% for product in products %}
            <div class="row mx_auto">
            <div  class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
                <div class="card text-center" style=" min-width:18rem">
                    <a href="{{product.get_url}}"><img class="card-image-top my-image" style="width:250px; height;300px;" src="{{product.image.url}}" alt="{{product.name}}"></a>
                    <div>
                        <h4 class="card-body">{{product.name}}</h4>
                        <p>{{product.price}}</p>
                    </div>
                </div>
            </div>
{% empty %}
    <div class="row mx_auto">
        <p class="text_center my_search_text">0 Results found</p>
        <div>
            {% endfor %}

        </div>
    </div>


</div>
{% endblock %}
